<% provide(:title, "Log in") %>

<div class="row form-container reg sign-in">
  <div class="side-intro">
    <h1>Eventrix</h1>
    <div class="signup-welcome">
      <h2>Welcome Back</h2>
      <p>To keep connected with us please login with your personal info.</p>
    </div>
  </div>
  <button class="aside-reg signin-but"><%= link_to "Sign up", new_user_path %></button>
  <div class="col-md-6 col-md-offset-3 form-wrap signin-wrap">
    <h1>Sign in</h1>
    <%= form_for(:session, url: signin_path) do |f| %>

    <div class="field" id="signin-email">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control', required: true %>
    </div>

    <div class="field" id="signin-password">
      <%= f.label :password %>
      <%= f.text_field :password, class: 'form-control', required: true %>
    </div>

    <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <!-- <p>New user? #<%= link_to "Sign up now!", users_path %></p> -->
  </div>
</div>