<% provide(:title, "Log in") %>

<div class="row form-container">
  <h1>Log in</h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: signin_path) do |f| %>

    <div class="field" id="signin-email">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", users_path %></p>
  </div>
</div>