<%= provide(:title, "Sign up") %>
<section class="row form-container sign-up reg">
  <div class="side-intro">
    <h1>Eventrix</h1>
    <div class="signup-welcome">
      <h2>Welcome Back</h2>
      <p>To keep connected with us please login with your personal info.</p>
    </div>
  </div>
  <button class="aside-reg"><%= link_to "Sign in", signin_path %></button>
  <div class="col-md-6 col-md-offset-3 form-wrap">
    <h1>Sign Up</h1>
    <%= form_for @user do |f|  %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :name, "Username" %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "Sign Up", class: "btn btn-primary" %>
    <% end %>

  </div>
</section>