<%= provide(:title, "User-Events") %>
<section class="container-fluid m-5 p-5">

  <div class="row box events">
    <%= link_to 'Edit Profile', edit_user_path(@user) %> |
    <%= link_to 'Back to users list', users_path %>
    <h2 class="header-1 bg-primary p-3">Events created by <%= @user.name.capitalize %> <div
        class="badge badge-pill badge-dark mb-4"><span class="badge badge-light">
          <%= pluralize(@events.count, "event") %>.</span> </div>

      <div class="badge badge-pill badge-dark mb-3 future-event"><span class="badge badge-light">
          <%= pluralize(@upcoming_events.count, "upcoming event") %>.</span> </div>

      <div class="badge badge-pill badge-dark"><span class="badge badge-light">
          <%= pluralize(@prev_events.count, "previous event") %>.</span> </div>
    </h2>
  </div>

  <div class="row present-events">
  <div class="container-cards">
    <% @events.each do |event| %>
    <div class="card-type">
      <p class="bordered day"> <span class="date">
          <%= event.date.strftime('%d') %></span> <br> <span><%= event.date.strftime('%^b') %></span> </p>
      <div>
        <p class="bordered"><img src="/assets/icons8-task" alt="task"> <%= event.description %></p>
        <p class="bordered"><img src="/assets/icons8-marker" alt="marker"> <%= event.location %></p>
      </div>
    </div>
    <% end %>
  </div>
  </div>

  <div class="row future-events">
    <!-- <h2 class="header-1 text-light bg-success">Events you have been booked to attend. <br> Upcoming Events of User: <%= @user.name.capitalize %> </h2> -->
    <div class="container-cards">
      <% @upcoming_events.each do |event| %>
      <div class="card-type future-each">
        <p class="bordered day"> <span class="date">
            <%= event.date.strftime('%d') %></span> <br> <span><%= event.date.strftime('%^b') %></span> </p>
        <div>
          <p class="bordered">Event Description: <%= event.description %></p>
          <p class="bordered">Event Location: <%= event.location %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row past-events">
    <h2 class="header-1 bg-warning">Past events created by User:<%= @user.name.capitalize %> </h2>
    <div class="container-cards">
      <% @prev_events.each do |event| %>
      <div class="card-type past-each">
        <p class="bordered day"> <span class="date">
            <%= event.date.strftime('%d') %></span> <br> <span><%= event.date.strftime('%^b') %></span> </p>
        <div class="details">
          <p class="bordered">Event Description: <%= event.description %></p>
          <p class="bordered">Event Location: <%= event.location %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>