<%= provide(:title, "User-Events") %>
<div class="container col-md-6 col-md-offset-1">
  <h2>Events created by <%= current_user.name %></h1>
  <% @events.each do |event| %>
  <div class="card" style="width: 28rem;">
    <div class="card-header bg-info">
     <h3><%= event.id %></h3>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Event-date: <%= event.date %></li>
      <li class="list-group-item">Event Location: <%= event.location %></li>
      <li class="list-group-item">What's it about? <%= event.description %></li>
    </ul>
  </div>
  <% end %>
  <hr>
</div>