<%= provide(:title, "Create an event") %>
<div class="row form-container new-event reg">
  <div class="side-intro new-event-intro">
    <h1>Eventrix</h1>
    <div class="signup-welcome">
      <h2>Made for those who do</h2>
      <p>Create experiences, create passion...</p>
      <small>#YOLO</small>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3 form-wrap">
    <h1>Create a New Event</h1>
    <%= form_for(@event) do |f|  %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :date %>
    <%= f.date_field :date, class: 'form-control' %>

    <%= f.label :location, "Location" %>
    <%= f.text_field :location, class: 'form-control' %>

    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>

    <%= f.label :attendees, "Invite Guests (Hold ctrl and click to select multiple)" %>
    <%= f.select(:attendees, @users.pluck(:name, :id),{},{ :multiple => true, :size => 4 }) %>


    <%= f.submit "Create Event", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>