<section class="container-fluid">
  <div class="row">
    <h1 class="my-5">Event details</h1>
    <p><strong>Date:</strong> <%= @event.date %> </p>
    <p><strong>Location:</strong> <%= @event.location %> </p>
    <p><strong>Description:</strong> <%= @event.description %> </p>
  </div>
  <div class="row">
    <h2 class="text-primary">Event Attendees</h2>
    <table class="table table-bordered table-stripped col-4">
      <thead>
        <tr>
          <th class="text-danger">No.</th>
          <th class="text-danger">Event Attendee Name</th>
        </tr>
      </thead>
      <tbody>
      <% i = 1 %>
        <% @event.attendees.each do |attendee| %>
        <tr>
          <td scope=row><%= "#{i}" %></td>
          <td scope=row><%= attendee.name %></td>
        </tr>
        <% i += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= check_owner @event  %>  <%= link_to 'Go to events list', events_path %>
</section>