<section class="container-fluid">
  <div class="row">
    <h1 class="my-5">Event details</h1>
    <p><strong>Date:</strong> <%= @event.date %> </p>
    <p><strong>Location:</strong> <%= @event.location %> </p>
    <p><strong>Description:</strong> <%= @event.description %> </p>
  </div>
  <div class="row">
    <h2 class="text-primary">Event Attendees</h2>
    <table class="table">
      <thead>
        <tr>
          <th class="text-danger">Event Attendee Name</th>
        </tr>
      </thead>
      <tbody>
        <% @event.attendees.each do |attendee| %>
        <tr>
          <td scope=row><%= attendee.name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Edit event', edit_event_path(@event) %> | <%= link_to 'Go to events list', events_path %>
</section>