<!-- <h1>This event was created by <%= @current_user.name %></h1> -->
<section class="container-fluid">
  <div class="row">
    <h1>Hi <%= @current_user.name %>.</h1>
    <p class="my-5">Event details</p>
    <p><strong>Date:</strong> <%= @event.date %> </p>
    <p><strong>Location:</strong> <%= @event.location %> </p>
    <p><strong>Description:</strong> <%= @event.description %> </p>
  </div>
  <div class="row">
    <h3 class="text-primary">Event Attendees</h3>
    <table class="table">
      <thead>
        <tr>
          <th class="display-1">Name</th>
        </tr>
      </thead>
      <tbody>
        <% @event.attendees.each do |attendee| %>
        <tr>
          <td scope=row><%= attendee.name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Edit event', edit_event_path(@event) %> | <%= link_to 'Go to events list', events_path %>
</section>