<header class="navbar navbar-fixed-top navbar-custom">
  <div class="container">
    <%= link_to "private events app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <% if signed? %>
         <li class="user-btn btn btn-info">Hi <%= current_user.name %>!</li>
         <li><%= link_to "Logout", logout_path %></li>
        <% else %>
         <li><%= link_to "Sign up", users_path %></li>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>