<%= link_to "Eventrix", root_path, id: "logo" %>
<header class="navbar-custom">
    <ul class="navbar-child">
      <% if signed? %>
      <li class="user-btn "><%= link_to "#{current_user.name.split(" ")[0]} Events" , user_path(current_user) %></li>
      <li class="event-head"><%= link_to "New Event", new_event_path %></li>
      <li><%= link_to "Logout", logout_path %></li>
      <% else %>
      <li class="signup-head"><%= link_to "Sign up", new_user_path %></li>
      <li class="signin-head"><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
</header>